.game-menu {
    width: 100dvw;
    height: 100dvh;

    position: absolute;
    top: 0;
    left: 0;

    z-index: 1;

    display: flex;
    flex-direction: column;

    pointer-events: none;
}
    .game-menu__top {
        width: 100%;
        height: 50%;

        display: flex;
        flex-direction: row;
        color: $black;
        padding: 30 * $ptr;
    }

        .game-menu__welcome {
            max-width: 400 * $ptr;
            display: flex;
            flex-direction: column;
            row-gap: 20 * $ptr;
            align-items: center;
            text-align: center;

            background: radial-gradient(circle,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 54%, rgba(255, 255, 255, 0) 100%);
        }

            .game-menu__welcome-title {
                font-family: $milonga-font;
                display: flex;
                flex-direction: row;
                font-size: 40 * $ptr;
                font-weight: 600;
                letter-spacing: 3 * $ptr;

                &--1 {
                    color: $flag-light-blue;
                }

                &--2 {
                    color: $flag-yellow;
                }
            }

            .game-menu__welcome-description {
                font-size: 16 * $ptr;
                font-weight: 600;
                color: $light-gray;

                padding: 0 20 * $ptr;
            }

    .game-menu__bottom {
        width: 100%;
        height: 50%;

        display: flex;
        justify-content: center;
        align-items: flex-end;

        padding-bottom: 50 * $ptr;
    }

    .game-menu__button {
        width: fit-content;
        padding: 10 * $ptr 15 * $ptr;
        border-radius: 20 * $ptr;
        border: 1px solid $gray;

        color: $black;
        font-size: 20 * $ptr;
        font-weight: 600;

        pointer-events: auto;

        &:hover {
            background-color: rgba($gray, 0.1);
        }
    }
