.game-menu {
    width: 100dvw;
    height: 100dvh;

    position: absolute;
    top: 0;
    left: 0;

    z-index: 1;

    display: flex;
    flex-direction: column;

    pointer-events: none;
}
    .game-menu__top {
        width: 100%;
        height: 50%;

        display: flex;
        flex-direction: row;
        color: $black;
        padding: 30 * $ptr;
    }

        .game-menu__welcome {
            max-width: 400 * $ptr;
            display: flex;
            flex-direction: column;
            row-gap: 20 * $ptr;
            align-items: center;
            text-align: center;
        }

            .game-menu__welcome-title {
                font-family: $milonga-font;
                display: flex;
                flex-direction: row;
                font-size: 45 * $ptr;
                font-weight: 600;
                letter-spacing: 3 * $ptr;

                &--1 {
                    color: $flag-light-blue;
                }

                &--2 {
                    color: $flag-yellow;
                }
            }

            .game-menu__welcome-description {
                font-size: 18 * $ptr;
                font-weight: 400;
                color: $light-gray;

                padding: 0 20 * $ptr;

                background: radial-gradient(circle,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 54%, rgba(255, 255, 255, 0) 100%);
            }
        .game-menu__info-card {
            position: absolute;
            top: 0;
            right: 0;

            transition: transform 0.3s ease-in-out;

            max-width: 500 * $ptr;
            height: 100%;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            text-align: center;

            padding: 30 * $ptr;

            row-gap: 40 * $ptr;

            background: $white;
            border-radius: 10 * $ptr;
            border-left: 4 * $ptr solid $flag-light-blue;

            &.hidden {
                transition: transform 0.3s ease-in-out;
                display: flex;
                transform: translateX(100%);
            }
        }

            .game-menu__info-card-close {
                // position: absolute;
                // top: 10 * $ptr;
                // left: -10 * $ptr;

                align-self: flex-start;

                width: 40 * $ptr;
                height: 40 * $ptr;

                padding: 5 * $ptr;

                border-radius: 10 * $ptr;
                border-left: 2 * $ptr solid $flag-light-blue;
                box-shadow: 0px 4px 4px rgba($flag-light-blue, 0.25);

                color: $black;
                pointer-events: auto;

                background-color: $white;

                &:hover {
                    transform: scale(1.05);
                    box-shadow: 0px 6px 6px rgba($flag-yellow, 0.35);
                }

                svg {
                    width: 100%;
                    height: 100%;
                }
            }

            .game-menu__info-card-top {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                row-gap: 10 * $ptr;
            }

                .game-menu__info-card-image {
                    width: fit-content;
                    height: 100 * $ptr;

                    img {
                        width: auto;
                        height: 100%;
                        object-fit: cover;
                    }
                }


                .game-menu__route-name {
                    font-size: 30 * $ptr;
                    font-weight: 400;

                    font-family: $arimo-font;
                    text-transform: uppercase;
                }

                .game-menu__route-description {
                    font-size: 16 * $ptr;
                    font-weight: 400;
                    font-style: italic;
                    color: $light-gray;
                }

                .game-menu__route-record {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    row-gap: 4 * $ptr;
                }

                    .game-menu__route-record-title {
                        font-size: 12 * $ptr;
                        text-transform: uppercase;
                        color: rgba($black, 0.7);
                        letter-spacing: 1 * $ptr;
                    }

                    .game-menu__route-record-values {
                        display: inline-flex;
                        align-items: center;
                        column-gap: 5 * $ptr;
                        font-size: 15 * $ptr;
                        font-weight: 600;
                        color: $black;
                    }

                .game-menu__route-sign {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    border-radius: 10 * $ptr;
                    overflow: hidden;

                    box-shadow: 0px 4px 4px rgba($black, 0.25);
                }

                    .game-menu__route-sign-top {
                        text-transform: uppercase;
                        background-color: $black;
                        color: $white;
                        font-size: 16 * $ptr;

                        width: 100%;

                        padding: 2 * $ptr 5 * $ptr;
                    }

                    .game-menu__route-sign-bottom {
                        background-color: $white;
                        color: $black;
                        font-size: 16 * $ptr;

                        min-height: 30 * $ptr;

                        font-weight: 600;
                        text-transform: uppercase;

                        padding: 5 * $ptr 10 * $ptr;
                    }

            .game-menu__info-card-bottom {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                height: 100%;
                row-gap: 10 * $ptr;
            }

            .game-menu__button {
                width: fit-content;
                padding: 10 * $ptr 15 * $ptr;
                border-radius: 10 * $ptr;
                border-left: 1px solid $flag-light-blue;
                box-shadow: 0px 4px 4px rgba($flag-light-blue, 0.25);

                color: $black;
                font-size: 20 * $ptr;
                font-weight: 600;
                text-transform: uppercase;

                pointer-events: auto;

                background-color: $white;

                &:hover {
                    transform: scale(1.05);
                    box-shadow: 0px 6px 6px rgba($flag-yellow, 0.35);
                }
            }

    .game-menu__bottom {
        width: 100%;
        height: 50%;

        display: flex;
        justify-content: center;
        align-items: flex-end;

        padding-bottom: 50 * $ptr;
    }
