.mouse_info_card {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;

	transform: translate(18 * $ptr, 18 * $ptr);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	border-radius: 10 * $ptr;
	overflow: hidden;
	text-align: center;

	box-shadow: 0px 4px 4px rgba($black, 0.25);


	&--city {
		max-width: 150 * $ptr;
		background-color: $signs-green;

		padding: 10 * $ptr;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;

			width: calc(100% - 8 * $ptr);
			height: calc(100% - 8 * $ptr);

			border-radius: 10 * $ptr;

			transform: translate(4 * $ptr, 4 * $ptr);

			border: 2 * $ptr solid $white;
		}
	}
}

.mouse_info_card__header {
	text-transform: uppercase;
	background-color: $black;
	color: $white;
	font-size: 16 * $ptr;

	width: 100%;

	padding: 2 * $ptr 5 * $ptr;

	&--city {
		background-color: transparent;
		font-weight: 600;
		letter-spacing: 1 * $ptr;
	}
}

.mouse_info_card__body {
	background-color: $white;
	color: $black;
	font-size: 16 * $ptr;

	min-height: 30 * $ptr;

	font-weight: 600;
	text-transform: uppercase;

	padding: 5 * $ptr 10 * $ptr;

	&--city {
		background-color: transparent;
		font-weight: 400;
		font-size: 14 * $ptr;
		color: $white;
	}
}
