.section.home.home--loading
    include map
    include components/header
    include components/modal/modal
    include components/mouse_info_card
    include components/game_menu
    include components/game_playing
