
$white: #fff !default;
$black: #111 !default;
$light-gray: #949494 !default;
$gray: #373737 !default;
$dark-gray: #282828 !default;
$light-blue: #1292e8 !default;

$argentina-celeste: #37BBED !default;
$dark-gray: #29292E !default;
$argentina-dark-gray: #50535C !default;
$argentina-gray: #AAAAAA !default;
$argentina-light-gray: #E7E7E7 !default;

$flag-light-blue: #6CACE4 !default;
$flag-yellow: #FFB81C !default;
$flag-brown: #7D4016 !default;

$signs-green: #469C66 !default;
$signs-blue: #290bae !default;

