.route-complete-modal.hidden
    .route-complete-modal__content
        .route-complete-modal__top
            .route-complete-modal__title
                span.route-complete-modal__title-text Ruta completada
            .route-complete-modal__stats
                .route-complete-modal__stat
                    span.route-complete-modal__stat-value.route-complete-modal__stat-value--combo 0
                    span.route-complete-modal__stat-label Combo
                .route-complete-modal__stat
                    span.route-complete-modal__stat-value.route-complete-modal__stat-value--wpm 0
                    span.route-complete-modal__stat-label WPM
                .route-complete-modal__stat
                    span.route-complete-modal__stat-value.route-complete-modal__stat-value--elapsed 00:00
                    span.route-complete-modal__stat-label Tiempo
                .route-complete-modal__stat
                    span.route-complete-modal__stat-value.route-complete-modal__stat-value--cities 0
                    span.route-complete-modal__stat-label Ciudades
                .route-complete-modal__stat
                    span.route-complete-modal__stat-value.route-complete-modal__stat-value--mistakes 0
                    span.route-complete-modal__stat-label Errores
        .route-complete-modal__bottom
            .button.route-complete-modal__button
                svg( xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x-icon lucide-x")
                    path( d="M18 6 6 18")
                    path( d="m6 6 12 12")
