.game-menu
    .game-menu__top
        .game-menu__welcome
            span.game-menu__welcome-title
                .game-menu__welcome-title--1 Tipe
                .game-menu__welcome-title--2 A
                .game-menu__welcome-title--1 ndo
            span.game-menu__welcome-description Dominá el teclado recorriendo las rutas nacionales de Argentina: desde La Quiaca hasta Ushuaia, pasando por 98 Rutas Nacionales y 328 ciudades reales. Un juego de mecanografía gratuito donde tu avance se guarda solo para que veas cómo avanzás y mejoras kilómetro a kilómetro.
        .game-menu__info-card.hidden
            .game-menu__info-card-top
                .game-menu__info-card-image.image
                    img(src="#")
                .game-menu__route-sign
                    .game-menu__route-sign-top
                        span.game-menu__route-number
                    .game-menu__route-sign-bottom
                        span.game-menu__route-length

            .game-menu__info-card-bottom
                span.game-menu__route-name
                .game-menu__route-description
                .game-menu__route-record
                    span.game-menu__route-record-title Record
                    .game-menu__route-record-values
                        span.game-menu__route-record-combo --
                        span Combo
                        span /
                        span.game-menu__route-record-wpm --
                        span WPM
                .button.game-menu__button
                    | Empezar
    .game-menu__bottom
