.game-playing.hidden
    .game-playing__top
        .game-playing__info-card
            span.game-playing__start-city
            .game-playing__city-count
                .game-playing__horizontal-line
                .game-playing__city-count-number
            span.game-playing__end-city
    .game-playing__bottom
        .game-playing__typing-card
            .game-playing__typing-card-top
                .game-playing__typing
                    span.game-playing__typing-ok
                    span.game-playing__typing-caret
                    span.game-playing__typing-next-char
                    span.game-playing__typing-rest
            .game-playing__typing-card-bottom
                .game-playing__route-name

