.game-menu
    .game-menu__top
        .game-menu__welcome
            span.game-menu__welcome-title
                .game-menu__welcome-title--1 Tipe
                .game-menu__welcome-title--2 A
                .game-menu__welcome-title--1 ndo
            span.game-menu__welcome-description Dominá el teclado recorriendo las rutas nacionales de Argentina: desde La Quiaca hasta Ushuaia, pasando por 96 Rutas Nacionales y 377 localidades reales. Un juego de mecanografía gratuito donde tu avance se guarda solo para que veas cómo avanzás y mejoras kilómetro a kilómetro.
        .game-menu__info-card.hidden
            .button.game-menu__info-card-close
                svg( xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x-icon lucide-x")
                    path( d="M18 6 6 18")
                    path( d="m6 6 12 12")
            span.game-menu__route-name
            .game-menu__info-card-top
                .game-menu__info-card-image.image
                    img(src="#")
                .game-menu__route-sign
                    .game-menu__route-sign-top
                        span.game-menu__route-number
                    .game-menu__route-sign-bottom
                        span.game-menu__route-length

            .game-menu__info-card-bottom
                .game-menu__route-description
                .game-menu__route-record
                    .game-menu__route-record-values
                        span.game-menu__route-record-title Records
                        .game-menu__route-record-group
                            span Combo
                            span.game-menu__route-record-combo --
                        .game-menu__route-record-group
                            span WPM
                            span.game-menu__route-record-wpm --
                        .game-menu__route-record-group
                            span Tiempo
                            span.game-menu__route-record-time --:--
                        .game-menu__route-record-group
                            span Errores
                            span.game-menu__route-record-mistakes --
                .button.game-menu__button
                    | Empezar
    .game-menu__bottom
